
html, body, #container {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #e1eaef;
}

#header {
    background-color: #213A49;
    text-align: center;
}

#header, #footer {
    color: #E1EAEF;
}


#header h1 {
    margin: 0;
    padding-top: 11px;
    font-size: 25px;
}

menu#navigation
{
    margin: 0;
    padding: 0;
    width: 100%;
}

#navigation ul {
    margin: 0;
    padding: 0;
}


#content {
    clear: left;
    padding: 2px 11px;
	/*background-color: #88B3F9;*/
}

#content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer {
    background: #2e3341;
    text-align: right;
    padding: 11px;
	color: #E1EAEF;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0.85em;
    box-shadow: 0 -1px 1px #2E3341;
    -moz-box-shadow: 0 -1px 1px #2E3341;
    -webkit-box-shadow: 0 -1px 1px #2E3341;
    -ms-box-shadow: 0 -1px 1px #2E3341;
}

#footer a {
    color: #E1EAEF;
}

#footer a:visited {
    color: #e1e5ef;
}

li.ext_link {
}


.jslink {
    text-decoration: none;
}

.ext_link {
    text-decoration: underline;

}


.showLinkDialog {
    height: 40px;
    width: 400px;
    border: 1px solid white;
    background-color: #bcF;
    -moz-border-radius: 3px;
}

.showLinkDialog .hider {
    width: 100%;
    height: 13px;
    background: -moz-linear-gradient(-90deg, #BBCCFF, #103b67);
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ui-widget {
    font-size: 0.9em !important;
}

a#github-ribbon {
  position: fixed;
  top: -5px;
  right: 5px;
  width: 150px;
  line-height: 1;
  padding: 8px 5px 5px;
  color: white;

  /* From colorzilla gradient generator */
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top, #444444 0%, #666666 50%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(50%,#666666), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* W3C */

  text-shadow: #333 1px 1px 1px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #213A49; /* 94*3 */
  -moz-box-shadow: 0px 0px 10px #213A49;
  box-shadow: 0px 0px 10px #213A49;
  z-index: 1;
}


