<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <!--<title>{% block title %}Online reStructuredText editor{% endblock %}</title>-->

        <!--<link rel="stylesheet" href="{{ MEDIA_URL }}style/base.css"/>-->
        <!--<link rel="stylesheet" href="{{ MEDIA_URL }}style/site.css"/>-->
        <!--<link rel="stylesheet" href="{{ MEDIA_URL }}style/menu.css"/>-->

        <!--<link rel="stylesheet" href="{{ MEDIA_URL }}style/overcast/jquery-ui-1.8.16.custom.css" />-->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap.css"/>

        <script src="{{ MEDIA_URL }}js/jquery-1.7.2.js"></script>
        <script src="{{ MEDIA_URL }}scripts/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="{{ MEDIA_URL }}scripts/jquery.layout.min-1.2.0.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.js"></script>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        {% endblock %}
    </head>
    <body>
        {% block topbar %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="#">rSTed: reStructuredTextEditor</a>
                        <ul class="nav">
                            <li class="active"><a href="{{ url_for('index') }}">Editor</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                            <li><a id="github-ribbon" href="http://github.com/anru/rsted">Fork me on GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer id="footer">
            <span class="left"><a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">Quick reStructuredText reference</a></span>
            <span class="right">Copyright © rst.ninjs.org, 2011</span>
        </footer>
    </body>
</html>
