<html>
	<head>
		{% block head %}
		<title>{% block title %}Online reStructuredText editor{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}style/base.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}style/site.css" type="text/css" />
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery-1.4.4.min.js"></script>
	    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery-ui-1.8.7.custom.min.js"></script>
	    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.layout.min-1.2.0.js"></script>
		<script type="text/javascript">

		</script>
		{% endblock %}
	</head>
	<body>
<a href="http://github.com/anru/rsted"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
		{% block body_head %}
		{% endblock %}
<div id="container">
    <div id="header">
        <h1>
            {% block site_title %}Online reStructuredText editor{% endblock %}
        </h1>
    </div>
    <div id="navigation">
    	{% block main_nav %}
        <ul class="menu">
            <li><a href="{{ url_for('index') }}">Editor</a></li>
			<li class="ext_link"><a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">Quick reStructuredText reference</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>

		{% endblock %}
    </div>
    <div id="content">
{% block content %}
{% endblock %}
    </div>
    <div id="footer">
        Copyright © rst.ninjs.org, 2010
    </div>
</div>
	</body>
</html>
