<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Online reStructuredText editor{% endblock %}</title>

	<link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}style/base.css"/>
	<link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}style/site.css"/>
	<link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}style/menu.css"/>


	<script src="{{ request.script_root }}{{ MEDIA_URL }}scripts/jquery-1.6.4.min.js"></script>
	<script src="{{ request.script_root }}{{ MEDIA_URL }}scripts/jquery.layout.min-1.2.0.js"></script>

        {% endblock %}
    </head>
    <body>
        <a id="github-ribbon" href="http://github.com/anru/rsted">Fork me on GitHub</a>
        {% block body_head %}
        {% endblock %}
        <header id="header">
            <h1>{% block site_title %}Online reStructuredText editor{% endblock %}</h1>
            <menu id="navigation">
                {%- block main_nav %}
                <ul class="menu" id="menu">
                    <li class="{{ is_active('index') }}"><a href="{{ url_for('index') }}">Editor</a>
                    </li>
                    <li class="{{ is_active('about') }}"><a href="{{ url_for('about') }}">About</a></li>
                </ul>
                {% endblock -%}
            </menu>
        </header>
        <script type="text/javascript">
            var script_root = {{ request.script_root|tojson|safe }};
            $('#navigation').find("li.active a").click(function(evt) {
                 evt.preventDefault();
             });
        </script>

        <div id="content">
            {%- block content %}
            {% endblock -%}
        </div>

        <footer id="footer">
            <span class="left"><a target="_blank" href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">Quick reStructuredText reference</a></span>
            <span class="right">Copyright © rst.ninjs.org, 2011</span>
        </footer>

    </body>
</html>
