{% extends "base.html" %}

{% block head %}
    {{ super() }}
	<script type="text/javascript" src="{{ MEDIA_URL }}markit/jquery.markitup.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}markit/sets/rest/set.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}markit/skins/simple/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}markit/sets/rest/style.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/editor.js"></script>

    <!--<script type="text/javascript">-->
        <!--var js_params = {{ js_params|tojson|safe }};-->
        <!--$(function() {-->
            <!--if (js_params.theme) {-->
                <!--$('.themes input[value='+ js_params.theme + ']')[0].checked = true;-->
            <!--}-->
            <!--if (js_params.rst) {-->
                <!--$('#editor').val(js_params.rst);-->
            <!--}-->
        <!--});-->
    <!--</script>-->

{% endblock %}



{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <textarea class="input-xxlarge" id="editor" rows="15">{{ rst }}</textarea>
        </div>
        <div class="span6">
            <div class="preview-pane-navpills">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Theme
                            <b class="caret"></b>
                        </a>
                        <ul id="menu1" class="dropdown-menu">
                            <li><a href="#">Basic</a></li>
                            <li><a href="#">Nature</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Save/Export</a></li>
                </ul>
            </div>
            <div class="rst-preview-pane">
                <iframe class="input-xxlarge" id="browse"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<form id="save_as_pdf" method="POST" action="/srv/rst2pdf/">
    <input type="hidden" id="as_pdf_rst" name="rst" />
    <input type="hidden" id="as_pdf_theme" name="theme"/>
</form>

<form id="save_as_txt" method="POST" action="/srv/rst2txt/">
    <input type="hidden" id="as_txt_rst" name="rst" />
</form>
